# Tidy Tuesday 1

In this activity, the dataset of Video Games Sales provided by Gregory Smith scraped from [VGChartz](vgchartz.com) will be analyzed. This dataset consists of 16,598 games that is above 100,000 sales.

In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown as md

%matplotlib inline

data = pd.read_csv('data/vgsales.csv')

data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Data Preparation

before analyzing the data, we would first be preparing by cleaning and removing incomplete data either from a record.

In [3]:
data.shape

(16598, 11)

In [7]:
data.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [17]:
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

### Analysis

Since there are missing values, in the year and publisher column, instead of deleting the data, a sentinel value will be provided. In addition, after examining the datatypes, we noticed that the year is of type float instead of an integer.

In [19]:
data.Year = data.Year.fillna(9999)

In [20]:
data.Publisher = data.Publisher.fillna("N/A")

In [21]:
data.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [22]:
data.Year = data.Year.astype(int)

In [31]:
data.head(50)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
21,22,Super Mario Land,GB,1989,Platform,Nintendo,10.83,2.71,4.18,0.42,18.14
22,23,Super Mario Bros. 3,NES,1988,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28
23,24,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
24,25,Grand Theft Auto: Vice City,PS2,2002,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
25,26,Pokemon Ruby/Pokemon Sapphire,GBA,2002,Role-Playing,Nintendo,6.06,3.90,5.38,0.50,15.85
26,27,Pokemon Black/Pokemon White,DS,2010,Role-Playing,Nintendo,5.57,3.28,5.65,0.82,15.32
27,28,Brain Age 2: More Training in Minutes a Day,DS,2005,Puzzle,Nintendo,3.44,5.36,5.32,1.18,15.30
28,29,Gran Turismo 3: A-Spec,PS2,2001,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
29,30,Call of Duty: Modern Warfare 3,X360,2011,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
30,31,Pokémon Yellow: Special Pikachu Edition,GB,1998,Role-Playing,Nintendo,5.89,5.04,3.12,0.59,14.64
31,32,Call of Duty: Black Ops,X360,2010,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
32,33,Pokemon X/Pokemon Y,3DS,2013,Role-Playing,Nintendo,5.17,4.05,4.34,0.79,14.35
33,34,Call of Duty: Black Ops 3,PS4,2015,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
34,35,Call of Duty: Black Ops II,PS3,2012,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
35,36,Call of Duty: Black Ops II,X360,2012,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
36,37,Call of Duty: Modern Warfare 2,X360,2009,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
37,38,Call of Duty: Modern Warfare 3,PS3,2011,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
38,39,Grand Theft Auto III,PS2,2001,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
39,40,Super Smash Bros. Brawl,Wii,2008,Fighting,Nintendo,6.75,2.61,2.66,1.02,13.04
40,41,Call of Duty: Black Ops,PS3,2010,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
41,42,Animal Crossing: Wild World,DS,2005,Simulation,Nintendo,2.55,3.52,5.33,0.88,12.27
42,43,Mario Kart 7,3DS,2011,Racing,Nintendo,4.74,3.91,2.67,0.89,12.21
43,44,Halo 3,X360,2007,Shooter,Microsoft Game Studios,7.97,2.83,0.13,1.21,12.14
44,45,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
45,46,Pokemon HeartGold/Pokemon SoulSilver,DS,2009,Action,Nintendo,4.40,2.77,3.96,0.77,11.90
46,47,Super Mario 64,N64,1996,Platform,Nintendo,6.91,2.85,1.91,0.23,11.89
47,48,Gran Turismo 4,PS2,2004,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
48,49,Super Mario Galaxy,Wii,2007,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
49,50,Pokemon Omega Ruby/Pokemon Alpha Sapphire,3DS,2014,Role-Playing,Nintendo,4.23,3.37,3.08,0.65,11.33

## Data Analysis

Now that the data has been cleaned, we can begin to analyze. In this section, the dataset will be analyzed through aggregagation or grouping. 

### Initial Observation

We could already see that the Top 5 Global Sales are from the same developer, Nintendo.


Now we will be looking at the global sales per year, platform, genre, and publisher.

In [38]:
salesPerYear = data.groupby('Year')['Global_Sales'].sum().to_frame().sort_values(by=['Global_Sales'], ascending=False)
salesPerYear.columns = ['Global_Sales']
salesPerYear.head(5)

      Global_Sales
Year
2008        678.90
2009        667.30
2007        611.13
2010        600.45
2006        521.04

In [36]:
salesPerYear.tail(5)

      Global_Sales
Year
1987         21.74
1983         16.79
1980         11.38
2020          0.29
2017          0.05

### Observation

It can be seen that the top 5 years of the Highest Grossing Sales were on the years 2006-2010 with 2008 being the year of the Highest Grossing Sale of Video Games globally. On the other hand, it can be seen that the years 2017 and 2020 have a suprisingly low global sales. One factor that may have contributed to this result is that the data gathered/ scraped were outdated thus the sales from 2017-2020 were incomplete.

Now we analyze the global sales per platform.

In [45]:
salesPerPlatform = data.groupby('Platform')['Global_Sales'].sum().to_frame().sort_values(by=['Global_Sales'], ascending=False)
salesPerPlatform.columns = ['Global_Sales']
salesPerPlatform.head(5)

          Global_Sales
Platform
PS2            1255.64
X360            979.96
PS3             957.84
Wii             926.71
DS              822.49

In [46]:
salesPerPlatform.tail(5)

          Global_Sales
Platform
WS                1.42
TG16              0.16
3DO               0.10
GG                0.04
PCFX              0.03

### Observation

Suprisingly, it can be seen that the highest grossing platform was the PlayStation 2 which is 3 console generations ago already. This was followed by the Xbox 360 and its successor, the Playstation 3 which are also platforms that are already 2 generations ago. 

Another thing to look at is that the lowest global sales were from various unpopular Japanese consoles.

In [52]:
salesPerGenre = data.groupby('Genre')['Global_Sales'].sum().to_frame().sort_values(by=['Global_Sales'], ascending = False)
salesPerGenre.columns = ['Global_Sales']
salesPerGenre.shape

(12, 1)

In [53]:
salesPerGenre.head(12)

              Global_Sales
Genre
Action             1751.18
Sports             1330.93
Shooter            1037.37
Role-Playing        927.37
Platform            831.37
Misc                809.96
Racing              732.04
Fighting            448.91
Simulation          392.20
Puzzle              244.95
Adventure           239.04
Strategy            175.12

### Observation

Action, Sports, and Shooter respectively are the top 3 genre with the highest global sales. On the other hand, genres like Puzzle, Adventure, and Strategy were at the bottom.

Lastly, we will be looking at the global sales per publisher

In [55]:
salesPerPublisher = data.groupby('Publisher')['Global_Sales'].sum().to_frame().sort_values(by=['Global_Sales'], ascending=False)
salesPerPublisher.columns = ['Global_Sales']
salesPerPublisher.head(5)

                             Global_Sales
Publisher
Nintendo                          1786.56
Electronic Arts                   1110.32
Activision                         727.46
Sony Computer Entertainment        607.50
Ubisoft                            474.72

In [57]:
salesPerPublisher.tail(10)

                       Global_Sales
Publisher
Genterprise                    0.01
New World Computing            0.01
Otomate                        0.01
Ascaron Entertainment          0.01
Stainless Games                0.01
Ongakukan                      0.01
Commseed                       0.01
Takuyo                         0.01
Boost On                       0.01
Naxat Soft                     0.01

### Observation

The top company or publisher with the global sales is Nintendo which was actually initially observed from the start with the top 5 video games coming from the said company. This was followed by EA, Activision, Sony Computer Entertainment, and Ubisoft respectively. Similar to what was observed on the bottom list of the global sales per platform, some of the lowest global sales per publisher were from various indie Japanese companies.